<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
			org.gjt.mm.mysql.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost/hurtownia?useUnicode=true&amp;characterEncoding=UTF-8
		</property>
		<property name="hibernate.connection.username">
			root
		</property>
		<property name="hibernate.connection.password">adm123</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLInnoDBDialect
		</property>
		<property name="show_sql">true</property>
		
		<mapping class="pl.edu.swsim.simon_wieczorek.Klient" />
		<mapping class="pl.edu.swsim.simon_wieczorek.Rabat" />
		<mapping class="pl.edu.swsim.simon_wieczorek.Kod_Poczt" />
		<mapping class="pl.edu.swsim.simon_wieczorek.Ulica" />
		<mapping class="pl.edu.swsim.simon_wieczorek.Magazyn" />
		<mapping class="pl.edu.swsim.simon_wieczorek.Magazyn" />
		<mapping class="pl.edu.swsim.simon_wieczorek.Produkt" />
		<mapping class="pl.edu.swsim.simon_wieczorek.Stan_Magazynowy" />
		<mapping class="pl.edu.swsim.simon_wieczorek.Rozchod" />
		<mapping class="pl.edu.swsim.simon_wieczorek.Przychod" />
		<mapping class="pl.edu.swsim.simon_wieczorek.Zamowienie" />
		<mapping class="pl.edu.swsim.simon_wieczorek.Faktura" />
		
	</session-factory>
</hibernate-configuration>